demo/SoftwareRenderer.xcodeproj/project.xcworkspace
demo/SoftwareRenderer.xcodeproj/xcuserdata
*.opendb
*.db
x64/
*.d
*.o
demo/SoftwareRenderer
demo/SoftwareRenderer.app
.project
demo/.gradle
demo/.settings
demo/app/.externalNativeBuild
demo/app/.idea
demo/app/build
local.properties
