demo/SoftwareRenderer.xcodeproj/project.xcworkspace/xcshareddata
demo/SoftwareRenderer.xcodeproj/project.xcworkspace/xcuserdata
demo/SoftwareRenderer.xcodeproj/xcshareddata
demo/SoftwareRenderer.xcodeproj/xcuserdata
*.opendb
*.db
demo/x64
demo/Win32
*.d
*.o
demo/SoftwareRenderer
demo/SoftwareRenderer.app
.project
*.user
demo/.gradle
demo/.settings
demo/app/.externalNativeBuild
demo/app/.idea
demo/app/build
local.properties
test/test.xcodeproj/project.xcworkspace/xcshareddata
test/test.xcodeproj/project.xcworkspace/xcuserdata/elviss.xcuserdatad
test/test.xcodeproj/xcuserdata/elviss.xcuserdatad/xcdebugger
test/test.xcodeproj/xcuserdata/elviss.xcuserdatad/xcschemes
test/x64
test/Win32
